            



body{
               
                background-color: yellowgreen;
                clear: both;
                
            }
            
.body{
                margin: 0 auto;
                width: 60%;
                padding: 0 50px;
            }
            .TabHead{
                font-size: 30px;
                color: white;
                margin: 3% 0;
                background-color:darkblue;
                height: 40px;
                border-radius: 6px;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
            }
           
            .tabBody a:link, .tabBody a:visited{
                color: white;
                display: inline-block;
                padding: 10px 10px;
                height: 30px;
                background-color: orangered;
                
            } 
           
            .tabBody a:hover{
                background-color: yellowgreen;
                color: black;
            }
            .tabBody tr td a{
                
                border-radius: 10px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
            }
      
            
            
            